name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@master

      - name: Set Node.js 10.x
        uses: actions/setup-node@v1
        with:
          version: 10.x

      - name: Install yarn
        run: npm install -g yarn

      - name: yarn install
        run: yarn install

      - name: Lint
        run: yarn run eslint src/**/*.js
